<% if current_user %>
	Logged in as <%= current_user.email %>
	<%= link_to "Log Out", logout_path %>

	<h2>Home</h2>
	<%= link_to "Articles", articles_path %>
<% else %>
	<%= link_to "Sign Up", signup_path %>
	<%= link_to "Log In", login_path %>
<% end %>
<p id="notice"><%= notice %></p>